body{
    padding: 23px 52px 0px 52px;
    font-family: 'Edu SA Beginner';
    font-family: 'Ysabeau SC', sans-serif;
}
nav ul{
    display: flex;
    justify-content:start;
}
.option{
    display: none;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.863);
    list-style: none;
    padding: 10px 30px;
    font-size: 25px;
}
.select{
    list-style: none;
    font-size: 25px;
    padding: 0px 120px;
}
.select:hover>ul{
    display: block;
}
.navbar{
    list-style: none;
    padding: 0px 120px;
    font-size: 25px;
    cursor: pointer;
}
nav li a{
    text-decoration: none;
    color: goldenrod;
}
.fa-solid{
    width: 400px;
}
.heading{
    color: goldenrod;
    text-align: center;
}
.heading h1{
    font-size: 35px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}
h1::after{
    content: ' coming';
}
.first-section{
    border-top: 3px solid goldenrod;
    border-bottom: 3px solid goldenrod;
    border-radius: 4px;
    box-shadow: 10px 10px 35px grey;
    padding: 15px 0px;
    margin: 60px 0px 60px 0px;
    display: flex;
    max-height: 290px;
}
.hero-text{    
    width: 45%;
    padding-left: 3%;
}
.first-section:hover{
    height: 346px;
}
#hero-link{
    position: fixed;
    left: 565px;
    top: 102px;
}
.hero{
    width: 45%;
    padding-left: 3%;
}
.hero a{
    text-decoration: none;
    color: blueviolet;
}
.hero img{
    width: 100%;
    padding-right: 29%;
}
#tag{
    color: blueviolet;
}
table{
    border: 2px solid white;
    border-collapse: collapse;
    margin: 43px 0px;
}
td{
    border-top: 2px solid white;
    border-right: 2px solid white;
    width: 3%;
    height: 30px;
}
th{
    border-right: 2px solid white;
    width: 3%;
}
.orderedlist li:nth-child(2n){
    color: goldenrod;
}
.orderedlist{
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.orderedlist div{
    flex-grow: 1;
}
.f1st{
    order: 3;
}
.s1st{
    order: 2;
}
.t1st{
    order: 1;
}
.list{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px 0px;
}
.food img{
    width: 25%;
}
@media screen and (max-width:700px) {
    .food{
        background-color: powderblue;
    }
    .menu{
        flex-direction: column;
    }
}
@media screen and (min-width:900px) {
    .food{
        background-color: plum;
        overflow: scroll;
    }
    .menu{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(3, 250px);
        grid-gap: 20px 50px;
        line-height: 1.6;
    }
}